<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LogTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>777AD66F1C326C7700AAFEF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>777AD6881C326C7700AAFEF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>777AD6931C326C7700AAFEF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
